---
layout: default
title: Home
---

<p>
<strong>Short Description:</strong>
This workshop is dedicated to innovative sensing in
robotics. The workshop covers both innovative sensing hardware as well
as the inference/learning/control methods needed to take advantage of
that hardware. Despite the enormous research effort, sensing is still
one of the main issues in robotics. In the past, leaps in the
functionalities of robots were jumpstarted by the availability of new
sensor types (the laser range-finder in early 2000s, 3D cameras in the
2010s). So what will be next enabling technology in sensing? Topics of
interest include the emerging field of neuromorphic vision sensors
(DVS, ATIS, etc.), which might be the technology enabling high
performance yet low power small UAVs, as well as other unconventional
vision systems (4D light field/polydioptrical cameras, template-based
optical computing) and other currently under-utilized sensor
modalities (tactile, audio, etc.)
</p>

<table id='gallery'>
    <tr>
        <td id='curvace'>
            <img src='{{site.baseurl}}/resources/img/curvace.jpg'/>
        </td>
        <td id='aedat'>
            <img src='{{site.baseurl}}/resources/img/l2.aedat.show_simple-0.001.gif'/>
        </td>        
        <!-- <td id='events'>
            <img src='{{site.baseurl}}/resources/img/events.gif'/>
        </td> -->
        <td id='optomotor'>
            <img src='{{site.baseurl}}/resources/img/optomotor.jpg'/>
        </td>
        <td id='tactile'>
            <img src='{{site.baseurl}}/resources/img/tactile.jpg'/>
        </td>
    </tr>
</table>
<p>
<strong>Long Description:</strong> (To write)
</p>


<!--
<h2>News</h2>

{% for post in paginator.posts %}
	<article>

        <header>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <span class="date"><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="category"><i class="icon-tag"></i> {{ post.categories | category_links }}</span><br/>
            <span class="author"><i class="icon-user"></i> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>
	
		<div class="entry">{{ post.excerpt }}</div>

	</article>
{% endfor %}


<div id="paginator">
    {% if paginator.next_page %}
            <a href="{{site.baseurl}}/page{{paginator.next_page}}">
            &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
                <span class="more">
                <a href="{{site.baseurl}}/">
                Newer Posts &raquo; </a>
                </span>
        {% else %}
                <span class="more">
                <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
                Newer Posts &raquo; </a>
                </span>
        {% endif %}
    {% endif %}
</div>
-->