
li.person { display: block; margin-bottom: 3em; padding-bottom: 2em;}
li.person img.picture { max-height: 15em;  max-width: 15em; float: left;
 margin-right: 1em; }
li.person {clear: left;}
li.person p.title {font-weight: bold;}
li.person p.bio { clear: left; display:block;}

li.person p.affiliation img.logo { float: right; height: 4em; clear: right;}

.site-tagline { color:red;}